*{
    box-sizing: border-box;
}

body{
    font-family: Georgia;
    margin: 0;
   padding: 0;
}


/* Navigation Style Start */
.navbar{
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}


#navBarSection{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    opacity: 80%;
    
  }


.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    cursor: pointer;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    cursor: pointer;
}

.navbar-links li:hover {
    background-color: #555;
}


/* Styles for toggle button  */

.toggle-button{
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    
}

.toggle-button .bar{
height: 3px;
width: 100%;
background-color: black;
border-radius: 10px;

}

/* Styles for toggle button  Ends */

/* End Styles for Nav bar */







/* Social Meida links  */
.nav-social{
    float: right;
    width: 100%;
    position: relative;
    transition: all 600ms linear;
    top: 10px;
}

.nav-social ul {
    float: right;
    list-style: none;
}

.nav-social li a {
    color: black;
    font-size: 14px;
  
}

.nav-social li {
    float: left;
    padding: 10px;
}
/* Social Meida links ENDS */


/* Styles for parallax Feature*/
.parallax{
    background-image: url('../img/gallery6.jpg');
     /* Set a specific height */
     min-height: 100vh;
    
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    }

.parallaxDessert{
    background-image: url('../img/Dessert.jpg');
    /* Set a specific height */
    min-height: 100vh;
   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallaxDrink{
    background-image: url('../img/gallary4.jpg');
    /* Set a specific height */
    min-height: 100vh;
   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*End Styles for parallax Feature*/

/* Text Overlay Style */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        background-color: #000;
        margin-top: 50px;
    }

  .centered1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: #000;
    margin-top: 50px;

  }  
/* End Text Overlay Style */



/* Adds space to bottom of main menu */
#home-menu ul:after{
    content: "";
    clear: both;
    display: block;
}

#home-menu li{
    float: left;
    width: 42%;
    padding: 0;
    margin: 20px 0 20px 8%;
}

#home-menu li:nth-child(odd){
    margin: 20px 8% 20px 0;
}

#home-menu h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 50px;
}



.dish{
    float: left;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background: #fff;
    padding-right: 15px;
}

.price{
    float: right;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background: #fff;
    padding-left: 15px;
}

.description{
    clear: both;
    display: block;
    color: #999;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    position: relative;
    top: -8px;
}


/* End Styles for contact form contact Form */



 /* .parallaxMap{
    background-image: url(' '); */
     /* Set a specific height */
     /* min-height: 100vh;  */
    
     /* Create the parallax scrolling effect */
     /* background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    } */











/* Footer Style Start */
footer{
    background: #3b3b3b;
    margin-top: 50px;
    padding: 30px 0;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding: 0;
    list-style-type: none;
    color: #eee;
    width: 23%;
    margin-right: 2%;
    text-align: center;
}

footer li{
    margin: 10px 0;
}

footer a{
    color: #eee;
    text-decoration: none;
}

footer img{
    width: 80px;

}
/* Footer Style End */


/* If our screen is less than 400px code will run */
@media (max-width: 520px) {

    /* Gives style to the hamburger bars */
    a.toggle-button .bar{
    background-color: white;
    cursor: pointer;
    }
    
    .navbar {
        background-color: black;
      
    }
    
    /* .nav-social{
        background-color: black;
    
    }
    
        .nav-social li a{
            display: none;
        } */
    
       .navbar .brand-title{
         padding-right: 300px;
         color: white;
    
        }
    
    
        .navbar {
            flex-direction: column;
            align-items: flex-start;
           
        }
    
        .toggle-button {
            display: flex;
            cursor: pointer;
            margin-top: 15px;
        }
    
        .navbar-links {
            display: none;
            width: 100%;
        }
    
        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }
    
        .navbar-links ul li {
            text-align: center;
            
        }
    
        .navbar-links ul li a {
            padding: .5rem 1rem;
             color: white;
             
        }
    
        /* The Active enables the nav bar to toggle */
        .navbar-links.active {
            display: flex;
            
        }
        
    }
    /* Extra small devices (phones, 600px and down)
    @media only screen and (max-width: 600px) {...}
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    /* @media only screen and (min-width: 600px) {...} */
    
    /* Medium devices (landscape tablets, 768px and up) */
    /* @media only screen and (min-width: 768px) {...} */
    
    /* Large devices (laptops/desktops, 992px and up) */
    /* @media only screen and (min-width: 992px) {...} */
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    /* @media only screen and (min-width: 1200px) {...} */ 
    
    
    
